@font-face {
    font-family: "SFProDisplay-Regular";
    src: local("SFProDisplay-Regular"),
        url("/fonts/SFProDisplay-Regular.woff") format("woff"),
        url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    src: local("SFProDisplay-Semibold"),
        url("/fonts/SFProDisplay-Semibold.woff") format("woff"),
        url("/fonts/SFProDisplay-Semibold.woff2") format("woff2");
    font-weight: bold;
}